Write me a summary based on the filenames and their contents, from the following folder:
{{$dir := index .Params "dir"}}
{{/*{{ $files := readDir $dir }}*/}}
{{/*{{ range $files }}*/}}
{{/*    Name: {{ .Name }}*/}}
{{/*    Contents:*/}}
{{/*    {{ .Content }}*/}}
{{/*{{end}}*/}}
